@model OnlineServices.Models.ServiceCenterListModel
@using OnlineServices.Utilities.Extensions

@{
    ViewData["Title"] = "مدیریت مراکز خدماتی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-12 my-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h5 class="content-header-title float-left">@ViewData["Title"]</h5>
                <div class="breadcrumb-wrapper ">
                    <ol class="breadcrumb p-0 pl-1 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active">
                            @ViewData["Title"]
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <section id="brand-list-content">
        <div class="row">
            <div class="col-12">
                <a asp-action="Edit" class="btn btn-primary mr-1 mb-1">ثبت مرکز خدماتی جدید</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content table-responsive">
                        <table class="table mb-0 line-height-1">
                            <thead>
                                <tr>
                                    <th>
                                        ردیف
                                    </th>
                                    <th>
                                        عنوان
                                    </th>
                                    <th>
                                        محل
                                    </th>
                                    <th>
                                        تلفن تماس
                                    </th>
                                    <th>
                                        نام و نام خانوادگی
                                    </th>
                                    <th>
                                        وضعیت
                                    </th>
                                    <th>کارواش</th>
                                    <th>تعمیرگاه</th>
                                    <th>مرکز خدمات</th>
                                    <th>یدکی</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ServiceCenterModel.Count > 0)
                                {
                                    foreach (var item in Model.ServiceCenterModel)
                                    {
                                <tr>

                                    <td>
                                        @item.RowNum
                                    </td>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @(item.StateTitle + " " + item.CityTitle)
                                    </td>
                                    <td>
                                        @item.PhoneNo
                                    </td>
                                    <td>
                                        @(item.FirstName + " " + item.LastName)
                                    </td>
                                    <td class="@(item.IsActive ? "text-success" : "text-danger")">
                                        @(item.IsActive ? "فعال" : "غیرفعال")
                                    </td>
                                    <td>
                                        <div class="checkbox checkbox-sm">
                                            <input type="checkbox" class="checkbox-input" disabled @(item.IsCarwash.Value ? "checked" : "")>
                                            <label></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox checkbox-sm">
                                            <input type="checkbox" class="checkbox-input" disabled @(item.IsMechanic.Value ? "checked" : "")>
                                            <label></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox checkbox-sm">
                                            <input type="checkbox" class="checkbox-input"disabled @(item.IsService.Value ? "checked" : "")>
                                            <label></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox checkbox-sm">
                                            <input type="checkbox" class="checkbox-input" disabled @(item.IsAccessory.Value ? "checked" : "")>
                                            <label ></label>
                                        </div>
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" title="ویرایش">
                                            <i class="badge-circle badge-circle-light-secondary bx bxs-pencil font-medium-1"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" class="delete-confirm" title="حذف">
                                            <i class="badge-circle badge-circle-light-danger bx bxs-trash-alt font-medium-1"></i>
                                        </a>
                                    </td>
                                </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="12" class="text-center">
                                            اطلاعاتی جهت نمایش موجود نمی باشد
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    @{
                        var pager = Html.Pager(Model.PagerModel);
                    }
                    <div class="pager">
                        @pager
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
