@model OnlineServices.Models.PackageTemplateModel

@{
    ViewData["Title"] = !string.IsNullOrEmpty(Model.Id) ? "ویرایش بسته" : "ثبت بسته جدید";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-12 my-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h5 class="content-header-title float-left">@ViewData["Title"]</h5>
                <div class="breadcrumb-wrapper ">
                    <ol class="breadcrumb p-0 pl-1 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-action="Index">مدیریت بسته‌ها</a>
                        </li>
                        <li class="breadcrumb-item active">
                            @ViewData["Title"]
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <form asp-action="Save" asp-antiforgery="true">
        @if (!Html.ViewData.ModelState.IsValid)
        {
            <div asp-validation-summary="All" class="alert alert-danger mb-2" role="alert">
            </div>
        }
        @if (!Model.HasAccessToDelete)
        {
            <div class="alert alert-warning mb-2" role="alert">
                بدلیل خرید این بسته توسط کاربران شما اجازه ویرایش این بسته را ندارید
            </div>
        }
        <section>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label>عنوان بسته</label>
                                            <input type="text" class="form-control" asp-for="Title" placeholder="عنوان بسته را وارد کنید" autocomplete="off">
                                            <span asp-validation-for="Title" class="invalid-feedback"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label>نوع شخص</label>
                                            <select asp-for="PersonTypeId" name="PersonTypeId" class="select2 form-control select2-hidden-accessible select-is-required" asp-items="@Model.PersonTypeList">
                                            </select>
                                            <span asp-validation-for="PersonTypeId" class="invalid-feedback"></span>
                                        </fieldset>
                                    </div>

                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label>
                                                مبلغ قابل پرداخت(تومان)
                                            </label>
                                            <input type="text" class="form-control" asp-for="Price" placeholder="مبلغ قابل پرداخت را وارد کنید" autocomplete="off">
                                            <span asp-validation-for="Price" class="invalid-feedback"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label>ارزش واقعی خدمات</label>
                                            <input type="text" class="form-control" asp-for="RealPrice" placeholder="ارزش واقعی خدمات را وارد کنید" autocomplete="off" disabled>
                                            <span asp-validation-for="RealPrice" class="invalid-feedback"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label>مدت اعتبار</label>
                                            <input type="text" class="form-control" asp-for="ExpiredDuration" placeholder="مدت اعتبار را وارد کنید" autocomplete="off">
                                            <span asp-validation-for="ExpiredDuration" class="invalid-feedback"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset class="form-group">
                                            <label>توضیحات</label>
                                            <textarea class="form-control" asp-for="Description" rows="2" placeholder="توضیحات را وارد کنید"></textarea>
                                            <span asp-validation-for="Description" class="invalid-feedback"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset class="form-group">
                                            <label>وضعیت</label>
                                            <div class="checkbox checkbox-primary checkbox-glow d-block">
                                                <input type="checkbox" asp-for="IsActive">
                                                <label asp-for="IsActive">فعال</label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">جزئیات بسته</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-content table-responsive">
                                                <table class="table mb-0 line-height-1">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                عنوان خدمت
                                                            </th>
                                                            <th>
                                                                قیمت واحد
                                                            </th>
                                                            <th>
                                                                تعداد
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (var i = 0; i < @Model.PackageTemplateDetailList.Count; i++)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayName(Model.PackageTemplateDetailList[i].ServiceTypeTitle)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayName(Model.PackageTemplateDetailList[i].ServiceTypeUnitPrice.ToString())
                                                                </td>
                                                                <td>
                                                                    @if (Model.HasAccessToDelete)
                                                                    {
                                                                        @Html.TextBoxFor(m => m.PackageTemplateDetailList[i].Quantity, new { @class = "form-control", @Value = Model.PackageTemplateDetailList[i].Quantity })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBoxFor(m => m.PackageTemplateDetailList[i].Quantity, new { @class = "form-control", @Value = Model.PackageTemplateDetailList[i].Quantity, disabled = "disabled" })
                                                                    }
                                                                    @Html.HiddenFor(m => m.PackageTemplateDetailList[i].Id)
                                                                    @Html.HiddenFor(m => m.PackageTemplateDetailList[i].ServiceTypeId)
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @if (Model.HasAccessToDelete)
        {
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success glow mr-1 mb-1">
                        <i class="bx bx-check"></i>
                        <span class="align-middle ml-25">ثبت اطلاعات</span>
                    </button>
                </div>
            </div>
        }
        @Html.HiddenFor(p => p.Id)
        @Html.HiddenFor(p => p.HasAccessToDelete)
    </form>
</div>
