@model OnlineServices.Models.PackageTemplateListModel
@using OnlineServices.Utilities.Extensions

@{
    ViewData["Title"] = "مدیریت بسته‌ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-12 my-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h5 class="content-header-title float-left">@ViewData["Title"]</h5>
                <div class="breadcrumb-wrapper ">
                    <ol class="breadcrumb p-0 pl-1 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active">
                            @ViewData["Title"]
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <section id="brand-list-content">
        <div class="row">
            <div class="col-12">
                <a asp-action="Edit" class="btn btn-primary mr-1 mb-1">ثبت بسته جدید</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content table-responsive">
                        <table class="table mb-0 line-height-1">
                            <thead>
                                <tr>
                                    <th>
                                        ردیف
                                    </th>
                                    <th>
                                        عنوان بسته
                                    </th>
                                    <th>
                                        توضیحات
                                    </th>
                                    <th>
                                        استفاده برای
                                    </th>
                                    <th>
                                        قیمت
                                    </th>
                                    <th>
                                        مدت اعتبار
                                    </th>
                                    <th>
                                        وضعیت
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PackageTemplateModel)
                                {
                                <tr>
                                    <td>
                                        @item.RowNum
                                    </td>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>
                                        @item.PersonTypeTitle
                                    </td>
                                    <td>
                                        @item.Price
                                    </td>
                                    <td>
                                        @item.ExpiredDuration
                                    </td>
                                    <td class="@(item.IsActive ? "text-success" : "text-danger")">
                                        @(item.IsActive ? "فعال" : "غیرفعال")
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" title="ویرایش">
                                            <i class="badge-circle badge-circle-light-secondary bx bxs-pencil font-medium-1"></i>
                                        </a>
                                    </td>
                                    <td>
                                        @if(item.HasAccessToDelete)
                                        { 
                                            <a asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" class="delete-confirm" title="حذف">
                                                <i class="badge-circle badge-circle-light-danger bx bxs-trash-alt font-medium-1"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @{
                        var pager = Html.Pager(Model.PagerModel);
                    }
                    <div class="pager">
                        @pager
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
