@model OnlineServices.Models.ChangePasswordModel

@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-12 my-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h5 class="content-header-title float-left">@ViewData["Title"]</h5>
                <div class="breadcrumb-wrapper ">
                    <ol class="breadcrumb p-0 pl-1 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active">
                            @ViewData["Title"]
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <form asp-action="ChangePassword" asp-antiforgery="true" enctype="multipart/form-data" onsu>
        @if (!Html.ViewData.ModelState.IsValid)
        {
            <div asp-validation-summary="All" class="alert alert-danger mb-2" role="alert">
            </div>
        }
        <section>
            @if (!string.IsNullOrEmpty(ViewBag.Success))
            {<div class="alert alert-success">@ViewBag.Success</div>}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label>رمز عبور فعلی</label>
                                            <input type="password" class="form-control" asp-for="OldPassword" autocomplete="off">
                                            <span asp-validation-for="OldPassword" class="invalid-feedback"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label>رمز عبور جدید</label>
                                            <input type="password" class="form-control" asp-for="NewPassword" autocomplete="off">
                                            <span asp-validation-for="NewPassword" class="invalid-feedback"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label>تکرار رمز عبور</label>
                                            <input type="password" class="form-control" asp-for="ReNewPassword" autocomplete="off">
                                            <span asp-validation-for="ReNewPassword" class="invalid-feedback"></span>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-success glow mr-1 mb-1">
                    <i class="bx bx-check"></i>
                    <span class="align-middle ml-25">ثبت اطلاعات</span>
                </button>

            </div>
        </div>
    </form>
</div>
@*@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            Swal.fire({
                text: '@TempData["Message"].ToString()',
                type: "@((bool)TempData["IsError"] == true ? "error" : "success")",
                confirmButtonClass: 'btn btn-primary',
                confirmButtonText: 'باشه',
                buttonsStyling: false,
            });
        })
    </script>
    //TempData["Message"] = null;
    //TempData["IsError"] = false;
}*@